/*
added by : vighnesh on july 5, 2022
part of version 3
*/
.sampleClass{
    background-color: red;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    white-space: none;
}


/*
this code snippet was added after cloning from git
version 4
*/
.cloneClass{
    border: 2px solid rgb(247, 257, 267);
    border-radius: 30%;
}
